@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);




#header1-3 H1 {
  font-family: 'Oxygen', sans-serif;
}
#header1-3 P {
  color: #e7aa1f;
}
#msg-box4-e .lead P {
  text-align: right;
}
#msg-box4-e .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-c .lead P {
  text-align: left;
}
#msg-box4-i .lead P {
  text-align: right;
}
#msg-box4-i .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#msg-box5-h .lead P {
  text-align: left;
}
#menu-9 .navbar-toggler {
  color: #000;
}
#testimonials1-g .card-block I {
  color: #37383e;
}
#testimonials1-g .card-footer > div {
  color: #e7aa1f;
}
#testimonials1-g .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#menu-z .navbar-toggler {
  color: #000;
}





#msg-box1-11 H2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 46px;
}
#msg-box1-11 P {
  font-size: 32px;
}
#menu-j .navbar-toggler {
  color: #000;
}
#msg-box2-15 DIV {
  font-family: 'Open Sans', sans-serif;
}
#msg-box2-15 H2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
#msg-box5-13 .lead P {
  text-align: left;
}
#msg-box4-y .lead P {
  text-align: left;
}
#msg-box4-y .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}
#msg-box3-u .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-u .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-u .mbr-section-title {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}
#msg-box3-u .lead P {
  text-align: left;
  color: #ffffff;
}



#msg-box1-11 H2 {
  font-family: 'Open Sans', sans-serif;
}
#menu-j .navbar-toggler {
  color: #000;
}
#msg-box3-q .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-q .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-q .lead P {
  text-align: left;
}
#msg-box3-q .mbr-section-title {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#msg-box3-u .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-u .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-u .mbr-section-title {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
#msg-box3-u .lead P {
  text-align: left;
  color: #ffffff;
}
